body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-area{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 20px 30px;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
    color: orange;
}
.top-item{
    width: 40%;
    margin-left: 5%;
    padding: 10px 10px;
}
.top-item span{
    color: orange;
}
.top-item img{
    width: 100%;
}
.ancor-button{
    text-decoration: none;
    padding: 10px 30px;
    background-color: yellow;
    border-radius: 84%;
    color: rgb(0, 0, 0);
    border: 2px solid yellow;
}